
Django==3.2.11
djangorestframework==3.13.1
kubernetes==20.13.0
celery==5.2.3

django_celery_beat==2.2.1
mysqlclient==2.1.0
redis==4.0.2
django-celery-results==2.0.0

flower==1.0.0
setuptools==59.5

django-crispy-forms>=1.6.0
django-reversion>=3.0.0
django-formtools>=2.0
django-import-export>=0.5.1
django-ckeditor>=5.7.0
httplib2>=0.16.0
future
six
xlwt
xlsxwriter